.contacts {
  margin-top: 21px;
  margin-left: 50px;
  display: flex;
  column-gap: 19px;
  &__info {
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    a {
      font-size: 19px;
      color: #fff;
      font-weight: 700;
      transition: 0.2s all;
    }
  }
  &__button {
    width: 160px;
    height: 45px;
  }

  &_footer {
    margin: 0;
    justify-self: end;
  }
}
