.page-up {
    position: fixed;
    width: 70px;
    height: 70px;
    right: 120px;
    bottom: 120px;
    // background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;
    svg {
        padding: 5px;
        fill: white;
    }

    &_active {
        visibility: visible;
        opacity: 1;
    }

    .btn {
        border-radius: 100%;
        svg {
            display: block;
        }
    }
}
