* {
    font-family: "Roboto", serif;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
}

.container {
    max-width: 1140px;
    margin: 0 auto;

    &_big {
        max-width: 1412px;
    }
}
